<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div>
                <form action="javascript:">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Database Type</label>
                        <select #databaseType class="form-control" id="exampleFormControlSelect1">
                            <option>MySQL</option>
                            <option>MsSQL</option>
                            <option>PostgreSql</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" #title class="form-control" id="title" aria-describedby="emailHelp" placeholder="Credential Title" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="connectionstring">Connection String</label>
                                <input type="text" #connectionString class="form-control" id="connectionstring" aria-describedby="emailHelp" placeholder="Connection String" />
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">

                            <div class="form-group">
                                <label for="uname">Username</label>
                                <input type="text" #username class="form-control" id="uname" aria-describedby="emailHelp" placeholder="Username" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="psw">Password</label>
                                <input type="password" #password class="form-control" id="psw" placeholder="Password" />
                            </div>
                        </div>
                      </div>
                    <button (click)="submitCreate(title.value,username.value,password.value,connectionString.value,databaseType.value)" type="submit" class="btn btn-primary w-100">Submit</button>
                </form>
            </div>
        </div>
  </div>
</div>
