<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Username</th>
          <th>Password</th>
          <th>Connection String</th>
          <th>Database Type</th>
          <th>Create Date</th>
          <th>Process</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let credential of credentials; let i = index">
          <td>{{ credential.title }}</td>
          <td>{{ credential.username }}</td>
          <td>{{ credential.password }}</td>
          <td>{{ credential.connectionString }}</td>
          <td>{{ credential.dbType }}</td>
          <td>{{ credential.dateCreated }}</td>
          <td>
            <a class="feather" style="padding: 1rem;cursor:pointer;">
                <i class="fa-regular fa-pen-to-square"></i>
            </a>
            <a class="feather" style="padding: 1rem;cursor:pointer;">
                <i class="fa-solid fa-ban"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
  